/* Contact Section
--------------------------------*/

#contact {
    padding: 30px 0;
  
    .contact-info {
      margin-bottom: 20px;
      text-align: center;
  
      i {
        font-size: 48px;
        display: inline-block;
        margin-bottom: 10px;
        color: $tertiaryColor;
      }
  
      address, p {
        margin-bottom: 0;
        color: #000;
      }
  
      h3 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
      }
  
      a {
        color: #000;
  
        &:hover {
          color: $tertiaryColor;
        }
      }
    }
  
    .contact-address, .contact-phone, .contact-email {
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 768px) {
    #contact {
      .contact-address, .contact-phone, .contact-email {
        padding: 20px 0;
      }
    }
  }
  
  @media (min-width: 768px) {
    #contact .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  .footer {
    background: $primairyColor;
    color: #fff;
    ul {
      margin: 0;
      padding: 0;
    }
  
    li {
      position: relative;
      margin-bottom: 10px;
    }
  
    a {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: $tertiaryColor;
      transition: 0.3s;
  
      &:focus {
       


        color: $tertiaryColor;
        transition: 0.3s;
      }
  
      i, &:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }
  
      &:hover {
        color: $secondaryColor;
      }
    }
  }
  #footer {
    background: $primairyColor;
    padding: 0 0 30px 0;
    font-size: 14px;
    
  
    .copyright {
      text-align: center;
      padding-top: 30px;
      color: $secondaryColor;
      a {
        color: $tertiaryColor;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }